::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);  /* color sutil */
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);  /* un poco más visible al pasar el mouse */
}

::-webkit-scrollbar-track {
  background: black;   /* o un leve tono si quieres */
}

.drawer {
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    bottom: 40px;

    display: flex;
    justify-content: center;
}

.drawer.open {
    opacity: 1;
    pointer-events: auto;
}

/* Fondo oscuro detrás */
.drawer-backdrop {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

/* Panel inferior */
.drawer-panel.bottom {
    position: absolute;
    bottom: 0;
    min-width: 300px;
    max-width: 600px;
    max-height: 90vh;
    min-height: 50vh;
    height: 75%;
    background: #fff;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(100%);
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    flex-direction: column;
    display: flex;
}

.drawer-body {
    flex: 1;
    overflow-y: auto;
    padding: 0.5rem 1rem;
}

/* Header y footer fijos */
.drawer-header,
.drawer-footer {
    flex-shrink: 0;
    padding: 1rem;
    background: white;
    z-index: 1;
}

.drawer-header {
    border-bottom: 1px solid #eee;
}

.drawer-footer {
    border-top: 1px solid #eee;
}

.drawer.open .drawer-panel.bottom {
    transform: translateY(0);
}

.drawer-handle {
    width: 30px;
    height: 4px;
    background: #ccc;
    border-radius: 4px;
    margin: 10px auto;
}