<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio del backend</title>
</head>
<body>
    <h2>Pantalla de inicio</h2>
    


    <form action="/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="foto">Sube una foto para un producto: </label>
        <input type="file" name="foto" id="foto">
        <label for="id">Sube una foto: </label>
        <input type="number" name="id" id="id" placeholder="ID del producto">
        <button type="submit">Actualizar</button>
    </form>
</body>
</html>